---

---

<script>
  import Papa from "papaparse";
  import type { InputRow } from "../utils/types";
  import { transformData, downloadCSV } from "../utils/csvTransformer";

  let transformedCSV = "";

  document
    .getElementById("fileInput")
    ?.addEventListener("change", function (e: Event) {
      const target = e.target as HTMLInputElement;
      const file = target.files?.[0];
      if (!file) return;

      Papa.parse(file, {
        header: true,
        encoding: "utf-8",
        complete: function (results: any) {
          const transformed = transformData(results.data as InputRow[]);
          transformedCSV = Papa.unparse(transformed, {
            header: true,
          });
          alert("CSV procesado con éxito. Haga clic en 'Descargar target.csv'");
        },
        error: function (err: any) {
          alert("Error al analizar CSV: " + err.message);
        },
      });
    });

  document
    .getElementById("downloadBtn")
    ?.addEventListener("click", () => downloadCSV(transformedCSV));
</script>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rivendell CSV Transformer</title>
  </head>
  <body>
    <h2>Subir archivo META</h2>
    <input type="file" id="fileInput" accept=".csv" />
    <button id="downloadBtn">Descargar Rivendell.csv</button>
  </body>
</html>
